[MyAccount_00000000000]
aws_access_key_id=yyyy
aws_secret_access_key=yyyy
aws_session_token=yyyy

[MyAccount_11111111111]
aws_access_key_id=xxxx
aws_secret_access_key=xxxx
aws_session_token=xxxx

[MyAccount_22222222222]
aws_access_key_id=zzzz
aws_secret_access_key=zzzz
aws_session_token=zzzz
